*{
    margin: 0px;
    padding: 0px;
}
.bg_fixed{
    background-image: url(img/plac.webp);
    height: 75vh;
    width: 100vw;
    background-attachment:fixed ;
    background-size: 100vw 85vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: bolder;
}
.flex{
    display: flex;
    justify-content: space-between;

}
.car{
    background-color: rgb(175, 170, 170);
   
    width: 450px;
    height: 600px;
    border: 3px solid rgb(26, 72, 133);
}
.car img{
    width: 440px;
}
.cont {
    gap: 15px;
    margin-left:13vw ;
    margin-right:13vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
@media only screen and (max-width:600px) {
    
    .car {
        width: 274px;
    }
    .cont{
        margin-left:3vw ;
        margin-right:3vw ;

    }
    
}